body {
    font-family: Arial, sans-serif;
    background-color: #FFEAC5;
    text-align: center;
    padding: 20px;
}

#search-container {
    margin-bottom: 20px;
}

#country-input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
}

#search-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #61b464;
    color: white;
    border: none;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #2f8133;
}

#result-container {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

h2 {
    color: #333;
}

p {
    margin: 5px 0;
}
